* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'rooney-sans', Avenir-Book, Calibri, sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  /*text-align: center;*/
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.App-header > p {
  color: #a5885f;
  margin: 0.5% 0;
}

.App-logo {
  height: 15%;
  width: 15%;
}

.Container {
  color: #ffffff;
  margin-top: 5%;
}

.Row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.Circle {
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #f1c40f #e74c3c #9b59b6 #2ecc71;
  animation: animateCircle 5s linear infinite;
}

.Logo {
  height: 60px;
  width: 60px;
  background-size: cover;
  transform: translate(10%, -110%);
  overflow: hidden;
}

.Description {
  font-size: 1.2rem;
  transform: translate(15%, -200%);
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
