* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'rooney-sans', Avenir-Book, Calibri, sans-serif;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.App-header > p {
  color: #a5885f;
  margin: 0.5% 0;
}

.App-logo {
  height: 15%;
  width: 15%;
}

.Container {
  color: #ffffff;
  margin-top: 5%;
}
.Title {
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  color: #f3e9e9;
  text-align: center;
  margin-bottom: 4%;
}

.Row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.Center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Circle {
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #f1c40f #e74c3c #9b59b6 #2ecc71;
  animation: animateCircle 5s linear infinite;
}

.Logo {
  height: 55px;
  width: 55px;
  background-size: cover;
  transform: translateY(-130%);
}

.Description {
  font-size: 1.2rem;
  margin-top: -50%;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
