* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.App-header > p {
  color: #a5885f;
  margin: 0.5% 0;
}

.App-logo {
  height: 15%;
  width: 15%;
}

.Container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: 5%;
}

.Container__About-Section {
  width: 70%;
  text-align: center;
  align-self: center;
  margin-bottom: 10%;
  color: #f3e9e9;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.Title {
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  color: #f3e9e9;
  text-align: center;
  margin-bottom: 5%;
  text-decoration: underline;
  text-decoration-color: #cd6c6c;
}

.Text {
  background: #f3ecec;
  color: #282c34;
  padding: 8% 5%;
  border-radius: 8px;
  text-align: left;
}

.Row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.Row:last-child {
  margin-bottom: 10%;
}

.Center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Circle {
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #f1c40f #e74c3c #9b59b6 #2ecc71;
  animation: animateCircle 5s linear infinite;
}

.Logo {
  height: 55px;
  width: 55px;
  background-size: cover;
  transform: translateY(-130%);
}

.Description {
  font-size: 1.2rem;
  margin-top: -50%;
}

.Container__Contact-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-Link {
  font-size: 1.2rem;
  margin-bottom: 10%;
  letter-spacing: 0.06rem;
}

a {
  color: #f3ecec;
  text-decoration: none;
}

.Hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #f3ecec;
  margin-top: 13%;
}

.Hexagon:before,
.Hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.Hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #f3ecec;
}

.Hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #f3ecec;
}

.Connect-Logo {
  background-size: cover;
  transform: translateY(-100%);
}

.Connect-Email {
  height: 50px;
  width: 60px;
  transform: translateY(-110%);
}

.Connect-Github {
  height: 55px;
  width: 55px;
}

.Connect-LinkedIn {
  height: 45px;
  width: 55px;
  transform: translate(5%, -110%);
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 1024px) {
  .Circle {
    width: 120px;
    height: 120px;
  }

  .Logo {
    height: 65px;
    width: 65px;
    background-size: cover;
    transform: translateY(-140%);
  }

  .Description {
    font-size: 1.2rem;
    margin-top: -40%;
  }
  .Container__Contact-Section {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .Github {
    margin-top: -4%;
  }
}

@media all and (min-width: 1440px) {
  .About-Description {
    font-size: 1.6rem;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.6rem;
  }

  .Title {
    font-size: 1.6rem;
  }

  .Container__About-Section {
    margin-bottom: 5%;
  }

  .Row:last-child {
    margin-bottom: 7%;
  }

  .Circle {
    width: 160px;
    height: 160px;
  }

  .Logo {
    height: 85px;
    width: 85px;
    background-size: cover;
    transform: translateY(-140%);
  }

  .Description {
    font-size: 1.4rem;
    margin-top: -40%;
  }
  .Container__Contact-Section {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .Hexagon {
    position: relative;
    width: 200px;
    height: 115.47px;
    background-color: #f3ecec;
    margin-top: 13%;
  }

  .Hexagon:before,
  .Hexagon:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }

  .Hexagon:before {
    bottom: 100%;
    border-bottom: 57.74px solid #f3ecec;
  }

  .Hexagon:after {
    top: 100%;
    width: 0;
    border-top: 57.74px solid #f3ecec;
  }

  .Connect-Logo {
    background-size: cover;
    transform: translateY(-100%);
  }

  .Connect-Email {
    height: 100px;
    width: 110px;
    transform: translateY(-110%);
  }

  .Connect-Github {
    height: 110px;
    width: 110px;
  }

  .Connect-LinkedIn {
    height: 100px;
    width: 110px;
    transform: translate(5%, -110%);
  }

  .Github {
    margin-top: -4%;
  }

  .Contact-Link {
    font-size: 1.4rem;
  }
}
